In [3]:
import pandas as pd
pd.set_option('max_rows', 10)
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import statsmodels.api as statsmodels # useful stats package with regression functions
import seaborn as sns #plotting package
import zipfile

In [25]:
# Importing the data from https://datacatalog.worldbank.org/search/dataset/0037712/World-Development-Indicators
# ONLY RUN ONCE


# from urllib.request import urlopen
# from io import BytesIO
# from zipfile import ZipFile

pathname = "/Users/feliphlvo/Documents/Minerva/2022 Fall/Tutorial/DS4SG-Global-Inequality"

# def download_and_unzip(url, extract_to='.'):
#     print("Downloading")
#     http_response = urlopen(url)
#     zipfile = ZipFile(BytesIO(http_response.read()))
#     print("Unziping")
#     zipfile.extractall(path=extract_to)
#     print("Done")


# download_and_unzip("https://databank.worldbank.org/data/download/WDI_csv.zip",
#                    pathname+"/Data/Raw")

In [13]:

wdi_data = pd.read_csv(pathname + "/Data/Raw/WDIData.csv", delimiter=",")
wdi_codebook = pd.read_csv(pathname+"/Data/Raw/WDISeries.csv", delimiter=",")

In [23]:
wdi_data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.435351,11.805706,12.167502,12.533893,12.916778,13.351035,13.865804,14.348658,14.764352,15.226159,15.625978,16.128485,16.559819,16.936004,17.337896,17.687093,18.140971,18.491344,18.825520,19.272212,19.628009,NaN,NaN
1,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.500037,3.692771,3.846867,4.071761,4.314265,4.537563,4.826155,5.042363,5.312541,5.542820,5.808091,6.058950,6.281667,6.499471,6.680066,6.859110,7.016238,7.180364,7.322294,7.517191,7.651598,NaN,NaN
2,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.330196,32.698002,33.145282,33.676838,34.198090,34.721609,35.199741,35.854238,36.242278,36.717076,37.015695,37.329561,37.601816,37.855399,38.046781,38.326255,38.468426,38.670044,38.722783,38.927016,39.042839,NaN,NaN
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.811283,19.900569,21.525812,22.474309,23.781918,23.487415,24.763538,26.766518,25.934179,26.181557,27.557137,29.089827,31.844384,31.794160,32.001027,33.871910,38.880173,40.261358,43.061877,44.270860,45.803485,NaN,NaN
4,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.469418,NaN,NaN,9.697171,10.919163,10.385696,12.423710,12.431412,12.888967,15.341002,14.577175,16.222794,19.402592,18.663502,17.633986,16.464681,24.531436,25.345111,27.449908,29.641760,30.404935,NaN,NaN

In [14]:
merged = pd.merge(wdi_data, wdi_codebook, how='inner',
                  left_on='Indicator Name', right_on='Indicator Name')
merged['Topic']

0         Environment: Energy production & use
1         Environment: Energy production & use
2         Environment: Energy production & use
3         Environment: Energy production & use
4         Environment: Energy production & use
                          ...
380109                    Health: Risk factors
380110                    Health: Risk factors
380111                    Health: Risk factors
380112                    Health: Risk factors
380113                    Health: Risk factors
Name: Topic, Length: 380114, dtype: object

In [15]:
#Checking which indicators don't have a defined Topic to see if it's okay to omit them for our study
#df1 = merged[merged['Topic'].isnull()]
#display(set(df1["Indicator Name"]))

In [18]:
#showing all the available columns 
pd.set_option('max_columns', None)
print(merged.columns.tolist())

['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', 'Unnamed: 66', 'Series Code', 'Topic', 'Short definition', 'Long definition', 'Unit of measure', 'Periodicity', 'Base Period', 'Other notes', 'Aggregation method', 'Limitations and exceptions', 'Notes from original source', 'General comments', 'Source', 'Statistical concept and methodology', 'Development relevance', 'Related source links', 'Other web links', 'Related indicators', 'License Type', 'Unnamed: 20']

Creating Separate datasets for each type of indicator (facilitates understanding and reduces size for upload to Github)

In [41]:
def create_df_topic(topics, write_to = None):
    # Select only indicators from topics
    topic_df = merged.loc[merged["Topic"].isin(topics)]
    # Melt dataset (making all date columns one variable)
    long_topic_df = topic_df.melt(id_vars=["Country Name", "Indicator Name",'Country Code', 'Topic', 'Indicator Code'], 
        var_name="Date")
    # Write to csv
    if write_to:
        long_topic_df.to_csv(pathname + "/Data/Final/" + write_to + ".csv", index = False)
        print("Written to:", pathname + "/Data/Final/" + write_to + ".csv")
    return long_topic_df

In [49]:
education_df = create_df_topic(['Education: Outcomes','Education: Participation'], "Education")
poverty_df = create_df_topic(['Poverty: Income distribution','Poverty: Poverty rates'], "Poverty")
mortality_df = create_df_topic(['Health: Mortality'], "Mortality")
labor_df = create_df_topic(["Social Protection & Labor: Unemployment", "Social Protection & Labor: Labor force structure"], "Labor")
environmnet_df = create_df_topic(["Environment: Land use", "Environment: Emissions"], "Environment")

Written to: /Users/feliphlvo/Documents/Minerva/2022 Fall/Tutorial/DS4SG-Global-Inequality/Data/Final/Education.csv
Written to: /Users/feliphlvo/Documents/Minerva/2022 Fall/Tutorial/DS4SG-Global-Inequality/Data/Final/Poverty.csv
Written to: /Users/feliphlvo/Documents/Minerva/2022 Fall/Tutorial/DS4SG-Global-Inequality/Data/Final/Mortality.csv
Written to: /Users/feliphlvo/Documents/Minerva/2022 Fall/Tutorial/DS4SG-Global-Inequality/Data/Final/Labor.csv
Written to: /Users/feliphlvo/Documents/Minerva/2022 Fall/Tutorial/DS4SG-Global-Inequality/Data/Final/Environment.csv

In [43]:
#checking out all of the indicators
print(set(education_df["Indicator Name"]))

{'Secondary education, duration (years)', 'Secondary education, vocational pupils (% female)', 'Children out of school, male (% of male primary school age)', 'Educational attainment, Doctoral or equivalent, population 25+, total (%) (cumulative)', 'School enrollment, secondary (% net)', 'Adolescents out of school, male (% of male lower secondary school age)', "Educational attainment, at least Master's or equivalent, population 25+, male (%) (cumulative)", 'Educational attainment, at least completed primary, population 25+ years, total (%) (cumulative)', 'Educational attainment, Doctoral or equivalent, population 25+, male (%) (cumulative)', "Educational attainment, at least Master's or equivalent, population 25+, total (%) (cumulative)", 'Educational attainment, at least completed lower secondary, population 25+, male (%) (cumulative)', 'School enrollment, secondary, male (% gross)', 'Children out of school, primary, female', 'Secondary education, vocational pupils', "Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)", 'Literacy rate, youth total (% of people ages 15-24)', 'Secondary education, general pupils', 'Educational attainment, at least completed short-cycle tertiary, population 25+, female (%) (cumulative)', 'Literacy rate, youth male (% of males ages 15-24)', 'School enrollment, primary (% net)', 'Educational attainment, at least completed short-cycle tertiary, population 25+, total (%) (cumulative)', 'School enrollment, primary (% gross)', 'Primary education, pupils', 'Educational attainment, at least completed upper secondary, population 25+, total (%) (cumulative)', 'Lower secondary completion rate, total (% of relevant age group)', 'Compulsory education, duration (years)', 'School enrollment, secondary (% gross)', 'Educational attainment, at least completed lower secondary, population 25+, total (%) (cumulative)', 'Secondary education, pupils', 'School enrollment, primary, private (% of total primary)', 'Educational attainment, at least completed upper secondary, population 25+, male (%) (cumulative)', 'Secondary education, general pupils (% female)', 'Adolescents out of school, female (% of female lower secondary school age)', 'Educational attainment, at least completed primary, population 25+ years, male (%) (cumulative)', 'School enrollment, preprimary, male (% gross)', 'Educational attainment, at least completed post-secondary, population 25+, female (%) (cumulative)', "Educational attainment, at least Master's or equivalent, population 25+, female (%) (cumulative)", 'School enrollment, preprimary, female (% gross)', 'School enrollment, primary, female (% gross)', 'School enrollment, primary, female (% net)', 'Educational attainment, at least completed lower secondary, population 25+, female (%) (cumulative)', 'Primary education, pupils (% female)', 'Educational attainment, Doctoral or equivalent, population 25+, female (%) (cumulative)', 'Literacy rate, adult total (% of people ages 15 and above)', 'Secondary education, pupils (% female)', 'Children out of school (% of primary school age)', 'School enrollment, tertiary, female (% gross)', 'Children out of school, primary', 'School enrollment, secondary (gross), gender parity index (GPI)', 'Adolescents out of school (% of lower secondary school age)', 'School enrollment, primary, male (% gross)', 'Adjusted net enrollment rate, primary (% of primary school age children)', 'Lower secondary completion rate, female (% of relevant age group)', "Educational attainment, at least Bachelor's or equivalent, population 25+, male (%) (cumulative)", 'School enrollment, tertiary (% gross)', 'Primary completion rate, male (% of relevant age group)', 'Educational attainment, at least completed post-secondary, population 25+, male (%) (cumulative)', 'School enrollment, primary (gross), gender parity index (GPI)', 'Adjusted net enrollment rate, primary, female (% of primary school age children)', 'Educational attainment, at least completed upper secondary, population 25+, female (%) (cumulative)', 'School enrollment, secondary, male (% net)', 'School enrollment, secondary, private (% of total secondary)', 'School enrollment, primary, male (% net)', 'School enrollment, tertiary (gross), gender parity index (GPI)', 'Literacy rate, adult female (% of females ages 15 and above)', 'Literacy rate, adult male (% of males ages 15 and above)', 'Children out of school, female (% of female primary school age)', 'School enrollment, tertiary, male (% gross)', 'Literacy rate, youth female (% of females ages 15-24)', 'Educational attainment, at least completed short-cycle tertiary, population 25+, male (%) (cumulative)', 'School enrollment, secondary, female (% gross)', "Educational attainment, at least Bachelor's or equivalent, population 25+, female (%) (cumulative)", 'School enrollment, secondary, female (% net)', 'Primary completion rate, female (% of relevant age group)', 'Educational attainment, at least completed post-secondary, population 25+, total (%) (cumulative)', 'School enrollment, preprimary (% gross)', 'Educational attainment, at least completed primary, population 25+ years, female (%) (cumulative)', 'School enrollment, primary and secondary (gross), gender parity index (GPI)', 'Primary completion rate, total (% of relevant age group)', 'Lower secondary completion rate, male (% of relevant age group)', 'Adjusted net enrollment rate, primary, male (% of primary school age children)', 'Literacy rate, youth (ages 15-24), gender parity index (GPI)', 'Children out of school, primary, male', 'Primary education, duration (years)'}

In [44]:
education_df.describe()

,Country Name,Indicator Name,Country Code,Topic,Indicator Code,Date,value
count,1832208,1832208,1832208,1832208,1832208,1832208,607883
unique,266,84,266,2,84,82,344405
top,Montenegro,"School enrollment, primary, male (% net)",SWE,Education: Participation,SE.PRM.TENR.MA,1998,Annual
freq,6888,21812,6888,959728,21812,22344,22344

In [46]:
#checking to see if any of the rows have non-NA values
#selected_rows = long_df[~long_df['value'].isnull()]
#print(selected_rows)
len(education_df)

1832208